.register-container {
  width: 450px;
  margin: 120px auto 50px auto;
  line-height: 1.7;
}

p {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

input {
  width: auto;
  margin: 0;
  font-weight: 300;
  font-size: 1.4rem;
}

select[name="user-type"] {
  width: auto;
  font-size: 1.4rem;
  font-family: Josefin Sans;
  font-weight: 300;
  margin: 0;
}

input[type="date"] {
  color: black;
}

.ssn-input {
  width: 50px;
}

.pass-div {
  display: flex;
}

.pass-toggle {
  float: none;
  margin-bottom: 0;
}

input[name="consent-checkbox"] {
  margin-right: 10px;
}

button[name="register-btn"] {
  margin-top: 20px;
}

@media (max-width:768px) {
  .register-container {
    width: auto;
  }
}
