body {
  font-family: Josefin Sans;
  margin: 0;
}

footer {
  font-size: .7rem;
  color: lightgray;
  margin: 100px 0 20px 0;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1170px;
  margin: auto;
}

/* Nav Bar */
.nav-bar {
  top: 0;
  position: fixed;
  color: white;
  background-color: #002f6c;
  height: 75px;
  width: 100%;
}
.nav-bar .container {
  height: 75px;
  display: flex;
  align-items: center;
}
.nav-logo {
  color: white;
  margin-left: 2px;
  font-weight: 700;
  font-size: 1.2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.3rem;
}
a {
  color: #002f6c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input, select {
  border: 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin: 10px 0 30px ;
  font-size: 1.1rem;
  font-family: Josefin Sans;
}
input:focus, select:focus {
  background-color: yellow;
  outline: none;
  font-weight: 500;
  border-bottom: 1.5px solid dodgerblue;
}

.main-btns {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: 0;
  background-color: #064eb3;
  color: white;
}
.main-btns:hover {
  background-color: #002f6c;
}

/* Media Queries */

@media (max-width:1170px) {
  .container {
    margin: 0 10px;
  }
}

@media (max-width:970px) {
  footer {
    margin: 50px 0 20px 0;
  }
}

@media (max-width:768px) {
  .container {
    margin: 0 20px;
  }
}
